 *:focus { outline:none; }
#wBox{
	border: 0.5px solid #bebebe;
	 width: 800px;
	 margin: 0 auto;
	 margin-top: 150px;
}
#msgBox{
    width: 800px;
    height: 200px;
    text-align: center;
   	margin: 0 auto;
}
#coin{
    width: 80px;
    height: 80px;
    margin-top: 40px;
   	padding-bottom: 20px;
}
#imgP{
	
}
#msg{
    font-family: 나눔스퀘어;
    font-size: 30px;
    font-weight: bold;
    color: #00a8b3;

}
#tbBox{
	width: 780px;
    height: 200px;
   	margin: 0 auto;
   	margin-top: 40px;
}
#tb{
	width: 750px;
	 height: 200px;
	 border-top: 1px solid #bebebe;
	 border-bottom: 1px solid #bebebe;
	 margin: 0 auto;
}

.td1 .td2{
	width: 375px;
}
.td1{
	font-size: 15px;
	 color: #gray;
}
.td2{
	text-align: right;
	font-size: 30px;
	font-family: 나눔스퀘어;
}
#money{
	color: #00a8b3;
}
#method{

}
#btnBox{
	width: 800px;
	height:100px;
	margin: 0 auto;
	text-align: center;
}
button{
	 width: 200px; 
	 height:40px;
	margin-top: 30px;
	background-color: #00a8b3;
	border: none;
	font-size: 15px;
	font-family: 나눔스퀘어;
	cursor: pointer;	
}
#chargeMore{
	width: 800px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
a{
	padding-top: 20px;
	color: #00a8b3;
}
 a:link { color: #00a8b3; text-decoration: none;}
 a:visited { color: #00a8b3; text-decoration: none;}
 a:hover { color: #00a8b3; text-decoration: none;}
