<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Order">
  
<select id="selectodpurchase"  resultType="odpvo">
select pname,p_price,ocount,payway,paycondition,payprice,recivename,ophone,oaddr1,oaddr2,omemo from pay a,product p,orderdelivery o where a.pnum=p.pnum  and o.pnum=p.pnum and a.pnum=o.pnum and beuid='godkkoo'
</select>
<insert id="insertorder" parameterType="odvo">
  	insert into orderdelivery values(#{onum},#{beuid},#{pnum},#{dcnum},#{oname},#{ocount},#{oprice},#{oaddr1},#{oaddr2},#{ophone},
  	#{odzip},sysdate,#{dprice},#{dstatus},#{omemo},#{receivename},#{paymethod})
  	
  </insert>
  <insert id="insertodpay">
  insert into pay values(#{paynum},#{payway},#{paycondition},sysdate,#{payprice},#{Approvenum},#{pnum})
  </insert>
  </mapper>
