 			.totalbox 
 			{
 			padding-left:200px;
 			padding-right: 200px;
 			}
 			input
                {
                    padding: 6px 4px;
                }
                th
                {
                     vertical-align: middle;
                   
                }
                *tr
                {
                    height: 56px;
                }
                .totalbox{

                    overflow-x: hidden;
                    max-height: none;
                    vertical-align: middle;
                   
                }

                .purchase {

                    position: relative;
                    background-color: #FFF;
                    min-height: 680px;
                    padding: 100px;
                    font-family: Times New Roman;
                }

                .line {
                    padding: 0px 0px 0px 0px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid black;
                    width: 100%;
                }

                .purchase header img {
                    max-width: 200px;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .purchase .company-details {
                    text-align: right;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .purchase main {

                    padding: 0px 0px;
                    margin-bottom: 0px;
                }

                .purchase .to-details {
                    text-align: left;
                }

                .purchase .purchase-info {
                    text-align: right;
                }

                .purchase .to-name {
                    font-weight: bold;
                }

                .purchase .to-name .to-address .to-city {
                    margin-top: 0;
                    margin-bottom: 0;
                }



                .purchase-info .info-code {
                    font-weight: bold;
                }

                .purchase-info .info-code .info-date {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .table thead th {
                    margin: 0 !important;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }

                .table td {
                    margin: 0 !important;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                    border: none;
                }

                .table .blank-row {
                    height: 25px !important;
                    background-color: #FFFFFF;
                    border: none;
                }

                .table tbody {
                    min-height: 1000px !important;
                }

                .table-con-colname {
                    background-color: blackblue;
                }

                .o_headtext {
                    text-align: center;
                    margin: 30px;
                }

                .o_headtext p {
                    padding: 0;
                }

                .o_text {
                    font-size: 28px;
                    font-family: sans-serif;
                }

                .col-sm-3 col-xs-3 h1 {
                    margin-bottom: 20px;
                    font-weight: bold;
                }

                .to-pimg img {
                    width: 80px;
                    height: 80px;
                    margin-left: 0px;
                    border: 0.7px solid gray;
                }

                .to-item div {
                    display: block;
                    float: left;

                }

                .to-info-content {
                    margin: 20px;
                    font-size: 11pt;
                }



                .to-totalprice {
                    width: 262px;
                    height: 100px;
                    padding-left:
                        text-align: center;
                    background-color: blackblue;
                }

                .to-saleprice,
                .to-price,
                .to-qty {
                    width: 90px;
                }

                .to-name {
                    width: 670px;

                }

                .table {

                    margin-bottom: 0px;
                    //background-color: blackblue;
                }

                .text-center {
                    width: 140px;

                }

                .text-right {
                    width: 130px;
                }

                .text-right,
                .text-center {
                    background-color: blackblue;
                }

                .blankspace {
                    width: 1120px;
                    margin-right: 100px;
                }

                .to-item th {

                    text-align: center;
                    //border: 1px solid black;

                }

                .p-info-totalprice,
                .p-info-payoption,
                .p-info-status {
                    width: 120px;
                    text-align: center;
                    background-color: blackblue;
                }

                .p-info-deposit-request,
                .p-info-payoption-way {
                    width: 860px;
                }

                .p-info-payoption-way div {
                    padding: 10px;
                }

                .p-info-totalprice-num {


                    text-align: end;
                    background-color: blackblue;
                }

                .p-blank {
                    background-color: blackblue;
                }

                .table-colname-phone1,
                .table-colname-phone2,
                .table-colname-addr,
                .table-colname-memo,
                .table-colname-recieve {
                    width: 200px;
                    background-color: blackblue;
                }

                .table-colname-phone1con,
                .table-colname-phone2con,
                .table-colname-addrcon,
                .table-colnamememo-con {
                    width: 780px;
                }

                .order-person-info,
                .table-colname-request {
                    background-color: blackblue;
                }

                .couponfind a {
                    width: 90px;
                    height: 35px;
                    background-color: gainsboro;
                    border: 1px solid gainsboro;
                    border-color: gainsboro;
                    color: #333;

                }

                .totalbox {
                    display: block;
                    float: left;
                    box-sizing: border-box;
                    vertical-align: baseline;
                    text-align: left;
                }
                .phone
                {
                    width: 53px;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .table-colname-recieve ,.table-colname-memo ,.table-colname-addr ,.table-colname-phone1
                {
                    text-align: center;
                }
                 /*Å×ÀÌºí*/
                    .cart_table {
                        width: 100%;
                        border-top: 1px solid black;
                        border-spacing: 0;
                        border-collapse: collapse;
                        border-bottom: 1px solid black;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                    }

                   

                    td {
                        border-bottom: 1px solid black;
                    }

                    th {
                        padding: 7px 5px;
                    }

                    tbody {
                        border-top: 1px solid black;
                    }

					.row{
					width: 100%;
					}
					.cart_table th
					{
					text-align: center;
					}