<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point">
  <select id="getPoint" resultType="balanceVo">
 	SELECT BEUID, PBALNOW FROM (SELECT MIN(BALANCENUM) BALANCENUM, BEUID FROM PBALANCE WHERE BEUID = #{beuid} GROUP BY BEUID) A, 
	(SELECT PBALNOW, BALANCENUM FROM PBALANCE WHERE BEUID = #{beuid}) B WHERE A.BALANCENUM = B.BALANCENUM
  </select>
  <select id="PlusPointList" resultType="payVo">
  	SELECT CHARGELIST, CHARGEDATE, CHARGEMETHOD FROM PCHARGE WHERE BEUID = #{BEUID} 
  </select>
  <select id="MinusPointList" resultType="chargeVo">
  	SELECT PAYLIST, PAYDATE FROM PPAY WHERE BEUID = #{BEUID}
  </select>
  <insert id="chargeP">
  	INSERT INTO PCHARGE VALUES ( (SELECT NVL(MAX(CHARGENUM) , 0)+1 FROM PCHARGE), #{beuid}, SYSDATE, #{chargelist}, #{chargemethod})
  </insert>
  <insert id="payP">
  	INSERT INTO PPAY  VALUES( (SELECT NVL( MAX(PAYNUM) , 0)+1 FROM PPAY),  #{beuid}, SYSDATE, #{paylist})
  </insert>
</mapper>